.backdrop {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(108, 108, 108, 0.5);
}
.invisible {
    display: block !important;
}
.cart {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex; /* toggle flex */
    flex-direction: column;
    align-items: center;
    gap: .7rem;
    padding: 2rem 2rem;
    width: 450px;
    height: 80%;
    background-color: rgb(227, 227, 227);
    /* border: 1px solid black; */
    border-radius: 1rem;
    box-shadow: 1px 1px 10px rgb(115, 115, 115);
    z-index: 2;
}
.x-square-icon {
    color: #5D43FF;
    align-self: end;
}
.x-square-icon:hover {
    color: black;
    cursor: pointer;
}
.items {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    width: 100%;
    height: 100%;
}
.item {
    display: flex;
    width: 100%;
    height: 23%;
}
.item > .image {
    display: block;
    height: 100%;
    width: 30%;
    background-color: #5D43FF;
}
.item > .detail-item {
    display: block;
    height: 100%;
    width: 70%;
    background-color: #7BFF88;
}
.item > .detail-item:hover {
    background-color: #7BFF88;
}
.pagination {
    display: flex;
    align-items: center;
    gap: 0.4rem;
}
.pagination span:hover {
    cursor: pointer;
}
.pagination i {
    color: #5D43FF;
}
.pagination i:hover {
    color: black;
}
.pagination-item {
    background-color: #5D43FF;
    color: white;
    border-radius: .2rem;
    padding: .2rem;
    font-size: .8rem;
}
.pagination-item:hover {
    background-color: black;
}
.pagination-item-active {
    background-color: black;
}

/* button cart */
.basket {
    position: fixed;
    top: 50%;
    left: 0;
    z-index: 5;
    transform: translate(0%,-50%);
    font-size: 1.5rem;
    background-color: #5D43FF;
    color: white;
    border: none;
    border-radius: 0 2rem 2rem 0;
    padding: .8rem .8rem;
    box-shadow: 1px 1px 10px rgb(115, 115, 115);
}
.basket:hover {
    cursor: pointer;
    background-color: black;
}
