/*.backdrop {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(108, 108, 108, 0.5);
}
.visible {
    display: block !important;
}
.flex-visible {
    display: flex !important;
}
.card {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: none;
    flex-direction: column;
    align-items: center;
    width: 450px;
    height: 80%;
    background-color: rgb(227, 227, 227);
    border-radius: 0.5rem;
    box-shadow: 1px 1px 10px rgb(115, 115, 115);
    z-index: 2;
}
.card-header {
    height: 5%;
    width: 100%;
}
.card-detail {
    display: flex;
    flex-direction: column;
    height: 95%;
    width: 100%;
    padding: 1rem;
}
*/
.add-to-cart {
    display: flex;
    margin: 1rem;
}
.card-img {
    display: block;
    width: 40%;
    height: 100%;
    background-color: #cccccc;
    /* box-shadow: 5px 5px black; */
    align-self: center;
}
.card-rows {
    width: 60%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: .5rem;
}
.card-row {
    display: flex;
    margin: 0rem;
}
.card-row .topic {
    width: 35%;
    font-size: .8rem;
    font-weight: 600;
    margin: auto;
}
.card-row .choice {
    width: 65%;
}
input[type=number] {
    appearance: text-field;
}
.choice-size span {
    display: inline-block;
    width: 1.2rem;
    font-size: .7rem;
    text-align: center;
    color: grey;
    border: 1px solid grey;
    border-radius: .2rem;
    padding: .2rem;
    margin-right: .4rem;
}
.choice-color span {
    background-color: #7BFF88;
    border: 1px solid grey;
    border-radius: .2rem;
    display: inline-block;
    width: 1rem;
    height: 1rem;
    padding: .6rem;
    margin-right: .5rem;
}
.choice-count input {
    width: 4rem;
    border: 1px solid black;
    border-radius: .2rem;
    padding: .1rem;
}
.choice-count span {
    display: inline-block;
    background-color: #5D43FF;
    width: 1rem;
    font-size: .7rem;
    font-weight: 600;
    text-align: center;
    border-radius: .2rem;
    padding: .2rem;
    color:white;
}
.card-row button {
    width: 100%;
    background-color: #5D43FF;
    color: white;
    border: 0px;
    border-radius: .2rem;
    font-weight: 600;
    letter-spacing: 1px;
    padding: .2rem;
}
.choice-count span:hover , .card-row button:hover {
    background-color: black;
    cursor: pointer;
}
.description {
    margin: 1rem 1rem 0 1rem;
}
.reviews {
    display: block;
    height: 20rem;
    overflow-y: scroll;
    scrollbar-color: #5D43FF rgb(254, 254, 254);
    scrollbar-width: thin;
    margin: 1rem;
}
.review {
    margin: .5rem 0;
    font-size: .7rem;
}
.x-square-icon {
    padding: .5rem;
    color: #5D43FF;
    float: right;
}
.x-square-icon:hover {
    color: black;
    cursor: pointer;
}
.items {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    width: 100%;
    height: 90%;
}
.item {
    display: flex;
    width: 100%;
    height: 23%;
}
.item > .image {
    display: block;
    height: 100%;
    width: 30%;
    background-color: #5D43FF;
}
.item > .detail-item {
    display: block;
    height: 100%;
    width: 70%;
    background-color: #7BFF88;
}
.item > .detail-item:hover {
    background-color: #7BFF88;
}
.pagination {
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
}
.pagination span:hover {
    cursor: pointer;
}
.pagination i {
    color: #5D43FF;
}
.pagination i:hover {
    color: black;
}
.pagination-item {
    background-color: #5D43FF;
    color: white;
    border-radius: .2rem;
    padding: .2rem;
    font-size: .8rem;
}
.pagination-item:hover {
    background-color: black;
}
.pagination-item-active {
    background-color: black;
}

/* button cart */
.basket {
    position: fixed;
    top: 50%;
    left: 0;
    z-index: 5;
    transform: translate(0%,-50%);
    font-size: 1.5rem;
    background-color: #5D43FF;
    color: white;
    border: none;
    border-radius: 0 2rem 2rem 0;
    padding: .8rem .8rem;
    box-shadow: 1px 1px 10px rgb(115, 115, 115);
}
.basket:hover {
    cursor: pointer;
    background-color: black;
}
