.container {
    display: block;
    width: 80%;
    margin: 0 auto;
    padding: 2rem 0;

}   
.row {
    margin: 1rem 0rem;
}
.boxs {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    gap: 1rem;
    justify-content: flex-start;
}

.box {
    display: block;
    width: 23.5%;
    height: 150px;
    background-color: rgb(134, 134, 134);
    transition: ease 1s;
    animation: animateElement ease 1s;
}
@keyframes animateElement{
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
/* .box:hover {
    scale: 1.2;
} */
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}
button[class="button-dark"] {
    width: 20%;
    background-color: black;
    color: white;
    font-weight: 600;
    border: 1px solid black;
    border-radius: 50px;
    padding: 0.2rem 0rem;
    margin: auto;
    transition: 0.5s;
    letter-spacing: 1px;
}
button[class="button-dark"]:hover {
    background-color: white;
    color: black;
    cursor: pointer;
    border: 1px solid black;
}

.footer {
    display: flex;
    height: auto;
    background-color: black;
    color: white;
}
.col {
    width: 25%;
    padding: 1rem 3rem;
}
.footer-list {
    font-size: 0.7rem;
    list-style: none;
}
.contacts {
    padding: .5rem 0;
}
