* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root {
    /* refer to html element */
    --purple: #5D43FF;
    --greenlemon: #7BFF88;
}
html, body {
    display: block;
    height: 100%;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    position: relative;
    scrollbar-color: var(--purple) rgb(254, 254, 254);
    scrollbar-width: thin;
}
.invisible {
    display: none !important;
}
.text-warning {
    display: block;
    color: rgb(212, 42, 42);
    font-size: .6rem;
    font-weight: bold;
    margin: .2rem 0rem 0 0;
    text-align: end;
}

/* modal */
.backdrop {
    position: fixed;
    display: none;/* none; */
    width: 100%;
    height: 100%;
    background: rgba(108, 108, 108, 0.5);
    z-index: 100;
}
.visible {
    display: block !important;
}
.flex-visible {
    display: flex !important;
}
.card {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: none; /* toggle flex */
    flex-direction: column;
    align-items: center;
    width: 450px;
    height: 80%;
    background-color: rgb(227, 227, 227);
    border-radius: 0.5rem;
    box-shadow: 1px 1px 10px rgb(115, 115, 115);
    z-index: 2;
}
.card-height-auto {
    height: auto !important;
}
.card-padding {
    padding: .8rem !important;
}
.card-header {
    height: 3%;
    width: 100%;
}
.x-square-icon i{
    color: var(--purple);
    float: right;
    font-size: 1.2rem;
}
.x-square-icon i:hover {
    color: black;
    cursor: pointer;
}
.card-detail {
    display: flex;
    flex-direction: column;
    height: 97%;
    width: 100%;
    padding: .5rem 0;
}
/* modal */