* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html, body {
    display: block;
    height: 100%;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    position: relative;
    scrollbar-color: #5D43FF rgb(254, 254, 254);
    scrollbar-width: thin;
}
.invisible {
    display: none !important;
}
.text-warning {
    display: block;
    color: rgb(212, 42, 42);
    font-size: .6rem;
    font-weight: bold;
    margin: .2rem 0rem 0 0;
    text-align: end;
}