.container {
    display: block;
    height: auto;
    max-width: 70%;
    background-color: lightgray;
    margin: 0 auto;
    padding: 2rem 3rem;
}
.header {
    padding-bottom: 1rem;
    font-size: 1.25rem;
}
.container form {
    margin: auto;
    max-width: 50%;
}
.form-content {
    padding: .3rem 0rem;
}
.form-content label, .form-content input {
    display: block;
    width: 100%;
}
.form-content span {
    display: block;
}
/* label */
.label-register {
    font-size: 0.75rem;
}
/* input */
.input-login {
    display: block;
    border: white solid 2px;
    border-radius: 50px;
    padding: 0.3rem 0.5rem;
}
.input-login:focus {
    outline: none;
    border: black solid 2px;
}

button[class="button-login"] {
    width: 100%;
    background-color: black;
    color: white;
    border: 0px;
    border-radius: 50px;
    padding: 0.5rem 0rem;
    transition: 0.5s;
}
button[class="button-login"]:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}
/* anchor */
.text-center {
    text-align: center;  
}
.link-register {
    display: block;
    color: black;
    padding: 0.5rem;
    text-decoration: underline;
}
.link-register:hover {
    color: white;
    cursor: pointer;
}