.container {
    display: flex;
    max-width: 70%;
    height: 100%;
    /* background-color: lightgray; */
    padding: 1rem;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.row {
    display:flex;
    width: 80%;
}
.col {
    flex: 50%;
    padding: 3rem 1rem;
}
.col1 {
    background-color: rgb(202, 77, 224);
    color: white;
    width: 100%;
    position: relative;
}
.col1 div {
    display: block;
    width: 80%;
    text-align: end;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.col1 h1:hover {
    color: blue;
    cursor: pointer;
}
.col2 {
    background-color: rgb(126, 227, 113);
}
.header {
    padding-bottom: 1rem;
    font-size: 1.25rem;
}
.container form {
    margin: auto;
    max-width: 80%;
}
.form-content {
    padding: .3rem 0rem;
}
.form-content label, .form-content input {
    display: block;
    width: 100%;
    letter-spacing: 1px;
}
.form-content span {
    display: block;
}
/* label */
.label-register {
    font-size: 0.75rem;
}
/* input */
.input-login {
    display: block;
    border: white solid 2px;
    border-radius: 50px;
    padding: 0.3rem 0.5rem;
}
.input-login:focus {
    outline: none;
    border: black solid 2px;
}

button[class="button-login"] {
    width: 100%;
    background-color: black;
    color: white;
    border: 0px;
    border-radius: 50px;
    padding: 0.5rem 0rem;
    transition: 0.5s;
    letter-spacing: 2px;
}
button[class="button-login"]:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}
/* anchor */
.text-center {
    text-align: center;  
}
.link-register {
    display: block;
    color: black;
    padding: 0.5rem;
    text-decoration: underline;
    font-size: .75rem;
}
.link-register:hover {
    color: white;
    cursor: pointer;
}