.navigation {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    background-color: rgb(23, 23, 23);
    color: white;
}
div[class="navigation-logo"] {
    display: block;
    font-weight: bold;
}
ul[class="navigation-menu"] {
    display: flex;
    list-style-type: none;
    font-size: .8rem;
}
.navigation-items {
    display: block;
    padding: 0.5rem 0rem;
    color: white;
    text-decoration: none;
    cursor: pointer;
}
div[class="navigation-items"] {
    border-bottom: rgb(23, 23, 23) solid 3px;
    padding-left: .7rem;
    padding-right: .7rem;
}
a[class="navigation-items"] {
    border-bottom: rgb(23, 23, 23) solid 3px;
    padding-left: 3rem;
    padding-right: 3rem;
}
a[class="navigation-items"]:hover {
    border-bottom: white solid 3px;
}
div[class="navigation-items"] {
    text-transform: uppercase;
}
/* dropdown */
.dropdown {
    position: relative;
    display: none;
}
.visible {
    display: block;
}
ul[class="dropdown-content"] {
    width: 10rem;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 1;
    overflow: auto;
    background-color: black;
    color: white;
    list-style-type: none;
    cursor: pointer;
}
.dropdown-content a {
    display: block;
    text-decoration: none;
    color: white;
    padding: .5rem 2rem;
    border-bottom: black solid 3px;
}
.dropdown-content a:hover {
    border-bottom: white solid 3px;
}