.container {
    background-color: rgb(255, 255, 255);
    display: block;
    height: 100%;
    width: 100%;
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(226, 226, 226);
    display: block;
    height: auto;
    width: 35%;
    padding: 2rem;
    border-radius: 1rem;
}
.form-label {
    display: block;
    width: 100%;
    letter-spacing: 1px;
}
.form-input {
    width: 100%;
    padding: 0.3rem;
    border: 2px solid black;
    border-radius: 5px;
    outline-color: #5D43FF;
    letter-spacing: 1px;
}
.form-input:hover {
    cursor: pointer;
}
.form-submit {
    width: 100%;
    padding: 0.4rem;
    border: 2px solid black;
    border-radius: 5px;
    background-color: #5D43FF;
    color: white;
    font-size: .9rem;
    font-weight: 500;
    letter-spacing: 2px;
}
.form-submit:hover {
    background-color: black;
    cursor: pointer; 
}
.sub-content {
    margin: 1.1rem 0rem;
}