.slide-wrapper {
    display:block;
    position: relative;
}
#slides {
    display: flex;
    background-color: cornflowerblue;
    width: 100%;
    height: 250px;
    overflow-x: hidden;
}
.slide {
    flex: 1 0 100%;
    width: 100%;
    
}
#slide1 { background-image: url("../image/pexels-chris-17898743.jpg"); }
#slide2 { background-image: url("../image/pexels-fatih-berat-orer-16767077.jpg"); }
#slide3 { background-image: url("../image/pexels-min-an-1337976.jpg"); }
#slide4 { background-image: url("../image/🏞✨.png"); }

.controller-slide {
    position: absolute;
    width: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.controller-slide a {
    display: block;
    width: 1rem;
    height: 1rem;
    background-color: rgb(211, 211, 211);
    opacity: 0.5;
    border-radius: 1rem;
    transition: 1s;
    transform: width;
}
.controller-slide a:hover {
    background-color: rgb(48, 48, 48);
    width: 2rem;
}

.search {
    display: flex;
    justify-content: space-between;
    width: 20rem;
    border: 1.5px solid black;
    border-radius: 1rem;
}
.search {
    border: 1.5px solid black;
}
.search input {
    width: 20rem;
    /* background-color: brown; */
    margin: .3rem .5rem;
    border: 0;
    outline: none;
}
.search button {
    width: 6rem;
    background-color: black;
    color: white;
    border: 0;
    border: 1.5px solid black;
    border-radius: 1rem;
    font-weight: 600;
    letter-spacing: 1px;
}
.search button:hover {
    background-color: #7BFF88;
    color: #5D43FF;
    cursor: pointer;
}
.container {
    display: block;
    padding: 1.5rem 4rem;
    overflow: hidden;
    
}
.rows {
    margin: 1.7rem 0;
    display: flex;
    width: auto;
    justify-content: center;
}
.tags {
    display: flex;
    flex-wrap: wrap;
    width: 20%;
    gap: .2rem .5rem;
    justify-content: center;
}
.tag {
    font-size: 0.85rem;
    color: lightgray;
    border: 1px solid lightgray;
    border-radius: 1rem;
    padding: 0.1rem .5rem; 
}
.tag:hover {
    background-color: #5D43FF;
    border: 1px solid #5D43FF;
    color: white;
    cursor: pointer;
}
.boxs {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    gap: 1rem;
    justify-content: flex-start;
}
.box {
    display: block;
    width: 23.5%;
    height: auto;
    /* background-color: rgb(134, 134, 134); */
    position: relative;
    cursor: pointer;
}
.box-head {
    display: block;
    background-color: rgb(228, 228, 228);
    /* border: 2px solid #5D43FF; */
    padding: .5rem;
    height: 10rem;
    position: relative;
}
.box-content {
    display: block;
    background-color: #5D43FF;
    width: 100%;
    position: absolute;
    z-index: 1;
    bottom: 0;
    height: 0rem;
    transition: ease 1s;
}
.box-content p {
    word-wrap: break-word;
    color: white;
    padding: 1rem;
    opacity: 0;
    transition: ease 1.5s;
}
.box:hover .box-content {
    height: 100%;
}
.box:hover .box-content p {
    opacity: 1;
}