body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.navigation {
    display: flex;
    justify-content: space-between;
    background-color: rgb(23, 23, 23);
}
.navigation-items {
    display: block;
    font-size: 1rem;
    padding: 0.5rem 3rem;
}
.navigation-items {
    cursor: pointer;
}
.navigation-logo {
    display: block;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    color: white;
}
.navigation-right {
    list-style-type: none;
    display: flex;
    margin: 0rem;
}
.navigation-right > li > a {
    text-decoration: none;
    color: white;
    border-bottom: rgb(23, 23, 23) solid 2.5px;
    margin-bottom: 2px;
}
.navigation-right > li > a:hover {
    border-bottom: white solid 2.5px;
}
.container800 {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    background-color: lightgray;
    padding: 2rem 2rem;
}
.header {
    margin: 0rem 0rem;
    padding: 1rem 0rem;
}
.sub-header {
    margin: 0rem;
}
.under-sub-header {
    margin-top: 0rem;
}
.content {
    padding: 1rem 0rem;
}
.input-register {
    border: white solid 2px;
    border-radius: 50px;
    padding: 0.3rem 0.5rem;
    margin: 0.25rem 1rem;
}
.input-register:focus {
    outline: none;
    border: black solid 2px;
}
.footer {
    text-align: center;
}
.register-button {
    width: 80%;
    border: 0px;
    border-radius: 50px;
    background-color: rgb(23, 23, 23);
    color: white;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    transition: 0.5s;
}
.register-button:hover {
    background-color: white;
    color: rgb(23, 23, 23);
    cursor: pointer;
}
.link-login {
    padding: 0.5rem;
    text-decoration: underline;
    color: black;
}
.link-login:hover {
    color: white;
    cursor: pointer;
}